# Build- und temporäre Dateien
node_modules/
build/
dist/

# Editor-spezifisch
.vscode/
.github/
.eslint*

# ioBroker dev-server Cache
.dev-server/
iobroker-data/

# Logs, Dumps, Backups
*.log
*.tgz
*.zip
npm-debug.log*

# Tests
test/
main.test.js

# Betriebssystem
.DS_Store
Thumbs.db
